.pc-writer-sidebar {
    margin-left: 10px;

    .pc-writer-sidebar-draft {
        margin-top: 30px;
        // border: 1px solid rgba(0.3, 0.3, 0.3, 0.3);

        .pc-pre-circle {
            margin-right: 10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: #089e8a;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(255,80,0,.2);
        }
    }

    .pc-writer-sidebar-publish {
        margin-top: 20px;
    }
}