.pc-writer-main-m {
    width: 100%;
    height: 700px;
    // background-color: #87baa92b;

    .pc-writer-m-toolbar {
        margin: 10px 0;
        width: 100%;
        height: 40px;
        background-color: yellowgreen;
        box-shadow: 3px 3px 3px #000;
        border-radius: 3px;
    }

    .common-wrap {
        width: 100%;
        height: 300px;
        // box-shadow: 2px 0 10px #f60;
        border-radius: 3px;
        color: #fff;
        overflow-y: scroll;

        &::-webkit-scrollbar  
        {  
            width: 10px;  
            height: 10px;  
            background-color: #1876e0;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb  
        {  
            border-radius: 10px;  
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: yellowgreen;  
        }  
        
        .common-box {
            box-sizing: border-box;
            min-height: 100%;
            outline: none;
            padding: 25px;
        }
    }

    .edit-wrap {
        background-color: #f4e7a3;
        box-shadow: 2px 0 10px #f60;
        color: #010;
        .edit-box {
            
        }
    }

    .preview-wrap {
        background-color: #0893cc;
        box-shadow: 2px 0 10px #7a50e6;
        .preview-box {
            h4 {
                color: #000;
            }
            article,
            blockquote {
                color: #ece;
            }
            del {
                color: #f4e7a3;
            }
            code {
                color: #fff;
                text-shadow: 3px 3px 1px #000;
            }
        }
    }
}