.mobile-reader-wrap {

}


.mobile-reader-search-icon-wrap {
    float: right;
    font-size: .5rem;
    color: #f0f0f0 !important;
}


.mobile-reader-booklist-null {
    margin-top: 100px;
    font-size: .3rem;
    text-align: center;
    color: #fff;
}